server:
  port: 8200

spring:
  datasource:
    url: jdbc:mysql://j5a201.p.ssafy.io:13306/beathub_db?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: Beathub12!
    driver-class-name: com.mysql.cj.jdbc.Driver


  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: true
    show-sql: true
    hibernate:
      format_sql: true
      ddl-auto: update
  devtools:
    restart:
      enabled: true