name: Mirror and run GitLab CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Mirror + trigger CI
        uses: SvanBoxel/gitlab-mirror-and-ci-action@master
        with:
          args: ${{ secrets.ARGS }}
        env:
          GITLAB_HOSTNAME: ${{ secrets.HOSTNAME }}
          GITLAB_USERNAME: "rhyuys115"
          GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
          GITLAB_PROJECT_ID: "63230"
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
